@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --radius-sm: calc(var(--radius, 8px) - 4px);
  --radius-md: calc(var(--radius, 8px) - 2px);
  --radius-lg: var(--radius, 8px);
  --radius-xl: calc(var(--radius, 8px) + 4px);
  --radius-2xl: calc(var(--radius, 8px) + 8px);
  --radius-3xl: calc(var(--radius, 8px) + 12px);
  --radius-4xl: calc(var(--radius, 8px) + 16px);

  --background: #16171d;
  --foreground: #f3f4f6;
  --bg-primary: var(--background);
  --text-primary: var(--foreground);

  --bg-gradient: linear-gradient(
    135deg,
    rgb(15, 23, 42),
    rgb(17, 24, 39) 45%,
    rgb(2, 6, 23)
  );

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card, #ffffff);
  --color-card-foreground: var(--card-foreground, #000000);
  --color-popover: var(--popover, #fff);
  --color-popover-foreground: var(--popover-foreground, #000);
  --color-primary: var(--primary, #6366f1);
  --color-primary-foreground: var(--primary-foreground, #fff);
  --color-border: var(--border, #e5e7eb);
  --color-input: var(--input, #fff);
  --color-ring: var(--ring, rgba(99, 102, 241, 0.3));
}

.light {
  --bg-primary: #f3f4f6;
  --text-primary: #16171d;
  --background: #ffffff;
  --border-main: #eeeeee;
}

.dark {
  --bg-primary: #16171d;
  --text-primary: #f3f4f6;
  --border-main: #2e303a;
  --background: #16171d;
}

@layer base {
  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    overflow-x: hidden;
    transition:
      background-color 0.3s color 0.3s border-color 0.3s !important;
  }
}

button {
  cursor: pointer;
}

a,
input,
button {
  outline: none;
}
